body {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  color: rgb(162, 141, 141);
  display: block;
  font-size: 24px;
  font-weight: 100;
  line-height: 28.8px;
  text-align: left;
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
  color: rgb(162, 141, 141);
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
}

li::first-letter {
  text-transform: capitalize;
}

.weather-app-wrap {
  max-width: 650px;
  margin: 70px auto;
}

.weather-app {
  padding: 20px;
  border: 1px solid rgb(195, 184, 184);
  border-radius: 8px;
}

.overview {
  margin-bottom: 20px;
}

.weather-temperature img {
  margin-right: 5px;
  height: 65px;
  width: 65px;
}

.weather-temperature strong {
  color: rgb(33, 33, 33);
  font-size: 64px;
  font-weight: 400;
  line-height: 1;
}

.weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -35px;
}

.weather-temperature .active {
  color: rgb(33, 33, 33);
  cursor: default;
}

.weather-temperature .active:hover {
  text-decoration: none;
}
